* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}